*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Noto Kufi Arabic', sans-serif !important;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 99;
    background-color: white;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
}

.inmedia {
    font-weight: 500;
    font-size: 42px;
    color: #0228df;
}

.div-img-aboutus img {
    width: 100%;
    overflow: hidden;
}

.nav-icon-5 {
    width: 35px;
    height: 30px;
    margin: 10px 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.nav-icon-5 span {
    background-color: #0228df;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms
}

.nav-icon-5 span:nth-child(1) {
    top: 0px;
    left: 0px;
}

.nav-icon-5 span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
}

.nav-icon-5 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
}

.nav-icon-5:not(.open):hover span:nth-child(1) {
    transform: rotate(-3deg) scaleY(1.1);
}

.nav-icon-5:not(.open):hover span:nth-child(2) {
    transform: rotate(3deg) scaleY(1.1);
}

.nav-icon-5:not(.open):hover span:nth-child(3) {
    transform: rotate(-4deg) scaleY(1.1);
}

.nav-icon-5.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
}

.nav-icon-5.open span:nth-child(2) {
    opacity: 0;
}

.nav-icon-5.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
}

header {
    padding: 45px 0 0 0;
    text-align: center;
}

.img-div img {
    width: 100%;
}

.call-div {
    margin-top: 32px;
}

.call-now {
    padding: 13px 20px;
    background-color: #0228df;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

h1 {
    font-size: 34px;
    margin: 0 auto;
}


.about-us {
    text-align: center;
}

.about-us .div-h3 {
    padding: 40px 0 0 0;
    margin-bottom: 25px;
}

.about-us .div-h3 h3 {
    font-size: 23px;
}

.description {
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    margin-top: 30px;
}

.about-us-img {
    transform: translateX(13px);
}

/* start our service*/

.icon__div {
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.icon__div img {
    width: 100%;
}

.c-services__item {
    text-align: center;
    box-shadow: 0 7px 20px rgb(100 28 2 / 14%);
    border-radius: 25px;
    padding: 24px;
    /* margin: 10px; */
    display: grid;
    place-content: center;
    height: 100%;
}

.box {
    /* height: 260px; */
    margin-bottom: 20px;
}

.c-section {
    text-align: center;
    margin-top: 30px;
}

.c-section h3 {
    margin: 12px 0;
}

/* end our service*/

/* start contact us*/

.contact-section {
    margin-top: 30px;
}

.h-contact-us {
    text-align: center;
}

.div-input {
    margin-bottom: 16px;
}

.div-input label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
}

.c-input {
    width: 100%;
    background: transparent;
    border-color: #e5e5e5;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 1px;
    color: #292e40;
    padding: 0.75rem 1rem;
    border-color: #63677875;
    outline: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.c-input:focus {
    box-shadow: 0 20px 48px -14px rgb(153 161 170 / 25%);
    border-color: #636778;
}

.axil-btn {
    background-color: #5956E9;
    color: var(--color-white);
    border: 1px solid #5956E9;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.04em;
    padding: 18px 55px;
    height: auto;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    text-align: center;
    color: #fff;
    display: block;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.contact-info {
    background-color: #27272E;
    border-radius: 14px;
    padding: 60px 50px;
    box-shadow: 0 9px 18px 0 rgb(0 0 0 / 25%);
    margin-bottom: 30px;
    color: #999FAE;
}

.contact-info h3 {
    color: #fff;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 15px;
    margin-bottom: 10px;
}

.contact-info a {
    color: #999FAE;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    direction: ltr;
}

.phone-and-mail {
    margin-top: 50px;
}

/* end contact us*/

@media screen and (min-width: 320px) {}

@media screen and (min-width: 768px) {
    .box {
        height: 260px;
    }
}